body{
    background-color:rgb(249, 162, 217);
    color:black;
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(216, 123, 230);
    pedding: 20px;
    font-size: 32px;
    color:rgb(216, 123, 230);
}
section{
    background-color: black
}